/*レスポンシブ対応テーブル参考サイト：http://www.terasol.co.jp/web/6917/*/
/*レスポンシブ参考値スマホ320px〜540px、タブレット600px〜1024px、PC1280px〜*/
/*ページネーション参考サイト：https://nakox.jp/web/wordpress/wp_pager_css*/


/*-------ボディ全体に適用させる-------*/
.body{
    margin:0;                                   /*ページの周りに余計な空白を入れない。*/
    font-family: 'Kaisei Opti', serif;          /*文字の種類*/
}

/*-------ナビボタンの設定-------*/
.navbtn{
    padding: 0;                                 /*バーイメージの余白を消す*/
    outline: none;                              /*バーイメージの外枠消す*/
    border: none;                               /*バーイメージのボーダー消す*/
    background: transparent;                    /*バーイメージの背景を透明*/
    cursor: pointer;                            /*カーソルを当てた時ポインタを手の形にする*/
    color: rgb(255, 255, 255);                /*イメージの色を変えた*/
}


/*-------ヒーローボタンの設定-------*/
.herobtn{
    display: block;                            /*四角いボタンを作る。*/
    width: 250px;                              /*横幅*/
    padding: 10px;                             /*ボタンの中の余白を10pxにする。*/
    box-sizing: border-box;                    /*余白10pxを含めて260pxにする為*/
    border-radius: 4px;                        /*角を丸くする。*/
    background-color: #888791;               /*ボタンの背景色*/
    color:white;                             /*ボタンの文字色*/
    font: size 18px;
    text-align: center;                        /*文字を中心にする。*/
}

/*-------その他のボタンの設定-------*/
.btn{
    display: block;                            /*四角いボタンを作る*/
    border-radius: 4px;                        /*角を丸くする*/
    min-width: 150px;                          /*横幅*/
    height: 35px;                              /*高さ*/
    box-sizing: border-box;                    /*余白10pxを含めて260pxにする為*/
    background-color: rgb(124, 149, 158);    /*ボタンの背景色*/
    color:rgb(0, 0, 0);                      /*ボタンの文字色*/
    font: size 13px;                           /*文字の大きさ*/
    text-align: center;                        /*文字を中心にする*/
}

/*-------リンクの装飾設定-------*/
a{
    color: inherit;                             /*リンクが青色表示されるのを解除*/
    text-decoration: none;                      /*リンクの下線をを消す*/
}

/*-------リンクの動的設定------*/
a:hover{
    filter: brightness(90%)contrast(120%);      /*リンクを触ったときに色を変える。*/
}

/*-------文字の設定-------*/
h1,h2,h3,h4,h5,h6,p,a{
    margin: 0;
    font-family: 'Kaisei Opti', serif;          /*コメント欄*/
}

/*-------画像の設定-------*/
img{
    display: block;                            /*下辺に自動で入る白の余白を消す*/
}

/*-------ヘッダー全体に適用させる-------*/
.header{
    height: 60px;                              /*ヘッダーの高さ*/
    background-color: rgb(124, 149, 158);    /*背景の色*/
    font-family: 'Kaisei Opti', serif;         /*文字の種類*/
    color: aliceblue;                        /*文字の色*/
    min-height: 0vw;                           /*文字の太さ*/
    font-weight: 400;                          /*文字の太さ*/
    position: sticky;                          /*ヘッダーがスクロールされずに固定される*/
    z-index: 10;                               /*ページをスクロールしても後続のパーツと重ならないように「10」ヘッダーが上になるように指定*/
    top: 0;                                    /*画面の上から内側に「0」の距離にヘッダーの上端を固定する。*/
}

/*-------ヘッダー内のコンテナに適用させる-------*/
.header-container{
    display: flex;                             /*コンテナを横並びにする*/
    height: 100%;                              /*ヘッダーの高さと同じにする*/
    align-items: center;                       /*コンテナ内のアイテムの横方向の配置を中心線上に揃える*/
    justify-content: space-between;            /*コンテナ内のアイテムを両端揃えにして左右に配置する。*/
}

/*-------クリエイトのカードに適用させる-------*/
.sred{
    border-radius: 15px;                        /*角を丸くする*/
    background-color: #ffffff;
    padding: 5px;
    height: 100%;                              /*ヘッダーの高さと同じにする*/
    align-items: center;                       /*コンテナ内のアイテムの横方向の配置を中心線上に揃える*/
    justify-content: space-between;            /*コンテナ内のアイテムを両端揃えにして左右に配置する。*/
}


/*-------コンテナの横幅と余白-------*/
.w-con01{
    width: min(92%,1166px);      /*画面に対して92%で表示、画面が小さくなっても1166pxよりは小さくはしない。*/
    margin: auto;                /*自動的に左右に同じサイズの余白が入る様にする。（100-92）/2=4％となる。*/
}

.w-con02{
    padding: 10px;
    margin: 10PX;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    margin: auto;                /*自動的に左右に同じサイズの余白が入る様にする。（100-92）/2=4％となる。*/
    justify-content: center;
}

/*-------ヒーロー全体に適用させる-------*/
.hero{
    height: 300px;                                     /*高さ*/
    background-image:url(../image/room_image03.jpg);   /*背景画像の設定*/
    background-position: center;                       /*背景の位置*/
    background-size: cover;                            /*背景の配置*/
}

/*-------ヒーロー内のコンテナ適用させる-------*/
.hero-container{
    display: grid;
    justify-items: center;
    align-content: center;                            /*コンテナ内のアイテムの横方向の配置を中心線上に揃える*/
    height: 100%;                                     /*コンテナの高さは外枠の大きさと同じにする*/
}

/*-------フォームコンテナ適用させる-------*/
.form_area{
    display: flex;
    justify-items: center;
    align-content: center;
    height: 100%;
}

/*-------ヒーロー内の文字に適用させる-------*/
.hero h1{
    margin-bottom: 40px;
    color: aliceblue;                     /*文字の色*/
    font-size: clamp(38px,5vw,48px);        /*文字サイズを5vwにし、最小48～最大68で可変にしている。*/
    min-height: 0vw;                        /*文字の太さ*/
    font-weight: 400;                       /*文字の太さ*/
    line-height: 1.3;                       /*行の高さ*/
    text-align: center;                     /*幅の狭い画面で改行された際に左寄せではなく中央寄せになるようにしている*/
}

.hero P{
    margin-bottom: 50px;
    color: aliceblue;
}

/*-------基本-------*/
:root{
--v-space:clamp(90px,9vw,120px);
}

/*-------パーツの見出し-------*/
.heading{
    position: absolute;
    top: calc((var(--v-space) + 0.6em)*-1);
    font-size: clamp(40px,5.2vw,70px);
    min-height: 0vw;
    font-weight: 300;
}

.heading span{
    display: block;
    color:#666666;
    font-size: 18px;
}

.entry-container>:last-child{
    margin-bottom: 0;
}

/*-------プラン-------*/
.plans{
    height: auto;
    padding: var(--v-space) 0;
    background-color: #e9e9e9;
}

.plans_con{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 27px 30px;
}

@media(min-width:768px){
    .plans-con {
        grid-template-columns: repeat(2,1fr);
    }
}

/*-------プラン：カード-------*/
.plan{
    padding: 10px 27px;
    border-radius: 20px;
    background-color: #ffffff;
}

p{
    line-height: 1.8;
}

.plan h3{
    margin-bottom: 15px;
    font-size: 38px;
    font-weight: 400;
}


.plan.desc{
    margin-bottom: 38px;
}

.plan.price{
    margin-bottom: 22px;
    font-size: 26px;
    font-weight: bold;
}



/*-------リストサイド内のボタンコンテナ適用させる-------*/
.switch_btn_container{
    height: 60vh;
    display: grid;
    align-items: center;                         /*コンテナ内のアイテムの横方向の配置を中心線上に揃える*/
    gap: 3px;
    grid-template-columns: 300px;
}


/*-------フッター-------*/
.footer{
    height: 100px;
    justify-items: center;
    align-content: center;
    background-position: center;
}

/*-------フッター内のコンテナ適用させる-------*/
.footer-container{
    display: grid;                               /*コンテナを横並びにする。*/
    height: 100%;                                /*フッターーの高さと同じにする。*/
    align-items: center;                         /*コンテナ内のアイテムの横方向の配置を中心線上に揃える*/
    align-content: center;
}

.footer p{
    margin-bottom: 40px;
    color: rgb(0, 0, 0);                  /*文字の色*/
    min-height: 0vw;                        /*文字の太さ*/
    line-height: 1.3;                       /*行の高さ*/
    text-align: center;                     /*幅の狭い画面で改行された際に左寄せではなく中央寄せになるようにしている*/
}


/*-------ページネーションデザイン用コピペ-------*/
.pager .pagination {
    text-align: center;
}

.pager .pagination li {
    display: inline;
    margin: 0 2px;
    padding: 0;
    display: inline-block;
    background: #888791;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
    border-radius: 10px;
}

.pager .pagination li.pre,
.pager .pagination li.next{
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
}

.pager .pagination li a{
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display:table;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.pager .pagination li a span{
    display:table-cell;
    vertical-align:middle;
}

.pager .pagination li a:hover,
.pager .pagination li a.active{
    color: #000;
    background:rgb(144, 172, 181);
    border-color: #00f;
    border-radius: 10px;
}

@media only screen and (max-width: 767px){
    .pager .pagination li{
    display: none;
    }

    .pager .pagination li.pre,
    .pager .pagination li.next{
    display: inline-block;
    width: 20%;
    height: 50px;
    text-align: center;
    }

    .pager .pagination li.pre a,
    .pager .pagination li.next a{
    width: 100%;
    text-align: center;
    }

}


/*-------テーブルデザイン用コピペ-------*/

table{
    border-collapse: collapse;
    width: 100%;
}
.tb01 th,
.tb01 td{
    padding: 10px;
    border: solid 1px #ccc;
    text-align:center;
    box-sizing:border-box;
}
.tb01 th {
    background:rgb(124, 149, 158);
    color: #fff;
    
}
@media screen and (max-width: 640px) {
    .tb01 .head{
    display:none;
    }
    .tb01 {
    width: 100%;
    }
    .tb01 td,
    .tb01 th{
    display: block;
    width: 100%;
    border-bottom:none;
    }
    .tb01 td{
    padding: 0px 12px 0 0;
    display: block;
    width: 100%;
    line-height: 2.5;
    text-align:left;
    }
    .tb01 td:before{
    color: #fff;
    content: attr(data-label);
    font-weight: bold;
    padding: 0px 10px;
    display: inline;
    background-color: #888791;
    margin-right: 10px;
    float: left;
    }
    .tb01 tr:last-child{
    border-bottom: solid 1px #ccc;
    }
}