{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">

    <!--デバイスに合わせた画面サイズ(ビューポートサイズ)で、-->
    <!--ページ表示をするよう指定しているレスポンシブでは必須の設定-->
    <meta name="viewport" content="width=device-width">

    <title>What's in my house</title>

    <!-- CSSの適用リンク -->
    <link rel="stylesheet" type="text/css" 
        href="{% static 'house/css/style.css' %}" />

    <!-- グーグルフォント用のリンク -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima:wght@100&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet">

</head>


<header class="header">
    <div class="header-container w-con01">
        <div class="whats in my house">
            <h2><a href="{% url 'index' %}">{{user}} さんのお家</a></h2>
        </div>

        <div>
            <form action="{% url 'account_logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="ログアウト">
            </form>

            <button class="navbtn">
                <i class="fa-solid fa-bars"></i>
                <span class="sr-only">USER</span>
            </button>
        </div>

    </div>
</header>


<section class="hero">
    <div class="hero-container w-con01">
        <h1>- What's in my house -</h1>
        <p>お家の持ち物を見える化しよう</p>
    </div>
</section>


<body>
    <section class="plans">
        <div class="w-con01">

            <h2>{{user}} さんの持ち物  <span>My Items</span></h2>

            <div class="plans-con">

                <div class="plan">
                    <h3>持ち物リスト</h3>
                    <h4>{{totalling}}</h4>
                    <div class="btn_area">
                        <table><tr>
                            <td><a href="/house/create_item" class="btn">アイテムの追加</a></td>
                            <td><a href="/house/create" class="btn">お部屋とカテゴリーの設定</a></td></tr>
                        </table>
                    </div>

                    <div class="form_area">
                        <table class="sarch">
                        <tr><td>
                            <form action="{% url 'index' %}" method="post">
                            {% csrf_token %}
                                {{ form.as_p }}
                            </td><td>
                            <input class="twowordbtn" type="submit" value="表示"></td>
                            </form></tr>
                        </table>
                    </div>

                    <div class="list_area">
                        <table class="tb01">
                            <tr class="head">
                                <th>品名</th>
                                <th>部屋名</th>
                                <th>数量</th>
                                <th>サイズ</th>
                                <th>編集</th>
                                <th>削除</th>
                            </tr>
                            {% for item in itemlist %}
                            <tr>
                                <td data-label="アイテム名">{{item.name}}</td>
                                <td data-label="部屋名">{{item.room.name}}</td>
                                <td data-label="数　量">{{item.qty}}</td>
                                <td data-label="サイズ">{{item.size}}</td>
                                <td><a href="{% url 'edit_item' item.id %}">編集</a></td>
                                <td><a href="{% url 'delete_item' item.id %}">削除</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="pager">
                        <ul class="pagination">
                        {% if itemlist.has_previous %}
                            <li><a href="{% url 'index' %}" class="active"><span>最初へ</span></a></li>            
                            <li class="pre"><a href="{% url 'index' %}{{itemlist.previous_page_number}}"><span>前へ</span></a></li>

                        {% else%}
                            <li><a href="#" class="active"><span>最初へ</span></a></li>
                            <li class="pre"><a href="#"><span>前へ</span></a></li>

                        {% endif %}
                            <li><a href="#"><span>{{itemlist.number}}/{{itemlist.paginator.num_pages}}</span></a></li>

                        {% if itemlist.has_next %}
                            <li class="next"><a href="{% url 'index' %}{{itemlist.next_page_number}}"><span>次へ</span></a></li>
                            <li><a href="{% url 'index' %}{{itemlist.paginator.num_pages}}" class="active"><span>最後へ</span></a></li>   

                        {% else %}
                            <li class="next"><a href="#"><span>次へ</span></a></li>
                            <li><a href="#" class="active"><span>最後へ</span></a></li>  

                        {% endif %}
                        </ul>
                    </div>

                </div>

<br>

                <div class="plan">

                    <h3>{{graphtitle}}グラフ</h3>

                    <div class="w-con02">
                        <div>
                            <img src="data:image/png;base64,{{ chart | safe }}">
                        </div>

                        <div class="switch_btn_container">
                            <h4>グラフの切り替え</h4>
                            <a href="{% url 'index_room_qty' %}" class="btn">部屋別/アイテム数 グラフ</a>
                            <a href="{% url 'index_room_size' %}" class="btn">部屋別/アイテムサイズ グラフ</a>
                            <a href="{% url 'index_catea_qty' %}" class="btn">カテゴリーA/アイテム数 グラフ</a>
                            <a href="{% url 'index_catea_size' %}" class="btn">カテゴリーA/アイテムサイズ グラフ</a>
                            <a href="{% url 'index_cateb_qty' %}" class="btn">カテゴリーB/アイテム数 グラフ</a>
                            <a href="{% url 'index_cateb_size' %}" class="btn">カテゴリーB/アイテムサイズ グラフ</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


<footer class="footer">
    <div class="footer-container w-con">
        <p>©2022 What's in my house.</p>
    </div>
</footer>

</body>
</html>